.container {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
    
  }
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 80px;
  color: var(--title-color);
  font-weight: bold;
  text-align: left;
  margin-left: 0;
  margin-block-end: 30px; 
}

.subheader {
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  color:var(--subheader-color);
}

.desctext {
  font-size: 24px;
  margin: 0px;
  text-align: left;
  color: var(--text-color);
  border: 5px solid var(--text-border-color);
  border-radius: 10px;
  padding: 10px;
}

.text {
  font-size: 24px;
  margin: 0px;
  text-align: left;
  color: var(--text-color);
}

.smallheader {
  font-weight: bold;
  font-size: 36px;
  color: var(--smallheader-color);;
  margin: 0px;
  padding: 15px;
}

.card {
  width: 100%;
  height: 100%;
  border: var(--card-border);
  box-sizing: border-box;
  border-radius: 10px;
  background-color: var(--card-bg-color);
}

.card:hover {
  box-shadow: 3px 3px 10px #393E41;;
}

.tag {
  width: 109px;
  height: 31px;
  background-color: var(--tag-bg-color);
  border: var(--tag-border);
  border-radius: 5px;
  margin: 15px;
  text-align: center;
  align-items: center;
  display: inline-block;
}

.grid {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  flex-wrap: wrap;
  max-width: 900px;
  width: 100%;
}

.card2 {
   margin: 1rem; 
   flex-basis: 45%; 
  /* width: 45%; */
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  background-color: var(--card-bg-color);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.imagecard {
  margin: 1rem;
  flex-basis: 35%;
  padding: 1.5rem;
}

@media only screen and (max-width: 700px) {
  .grid {
    display: block;
  }
}

.navbar {
  width: 100%;
  display: inline;
}

.rightnav {
  float: right;
  margin-top: 20px;
  color: var(--title-color);
  font-weight: bold;
  font-size: 30px;
}

.rightnav:hover {
  color: #EA7317;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .navbar {
    display: block;
  }
  .rightnav {
    float: left ;
  }
}